.container {
  display: flex;
  flex-direction: column;
}

.container .text1 h1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.container .text1 h1 .textCursor {
  position: absolute;
  height: 2rem;
  width: 2px;
  background-color: #000;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}

.container .text2 {
  font-size: 1.5rem;
}

.container .text3 {
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
}

.container .text3 .TypingText {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typing 1.5s steps(20, end), fadeOutBorder 0.5s 1.5s forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOutBorder {
  0% {
    border-right-color: black;
  }
  100% {
    border-right-color: transparent;
  }
}

.container .text4 {
  font-size: 2rem;
  color: var(--color3);
}

.container .SocialNetwork {
  margin-top: 1rem;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.container .SocialNetwork li a {
  font-size: 1.2rem;
  color: #3f72af;
  border: 3px solid var(--color4);
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  transition: hover 0.3s ease-in-out;
  text-decoration: none;
  color: black;
  display: flex;
  margin-bottom: 1rem;
}

.container .SocialNetwork li a:hover {
  border: 3px solid var(--color3);
  opacity: 0.9;
}
