.container {
  background-color: var(--color2);
  margin: 0 var(--margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .photo {
  width: 75%;
  padding-bottom: 75%;
  border-radius: 50%;
  background-image: url("/perfil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  margin: 2rem 0;
}

.container .greetings {
  width: 100%;
}
